.dashboard-main {
  display: flex;
  width: calc(100% - 180px);
  max-height: 100vh;
  overflow-y: auto;
}

.left-panel {
  padding: 1rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #fff;
  color: #262682;
}

.right-panel {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 1rem;
  background: #f9fbff;
  color: #262682;
}


.section-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

h2,
h4 {
  margin: 2px;
}

.hamburger-btn {
  display: none;
  position: absolute;
  top: 7%;
  left: 0rem;
  z-index: 99;
  color: white;
  background-color: #262682;
  cursor: pointer;
  border-radius: 50%;
  width: clamp(18px, 3vw, 28px);
  height: clamp(18px, 3vw, 28px);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
}

@media (max-width: 767px) {
  .hamburger-btn {
    display: block;
  }

  .dashboard-main {
    margin-left: 0;
    flex-direction: column;
    width: 100%;
  }

  .left-panel,
  .right-panel {
    width: calc(100% - 32px);
  }
}