.schedule-wrapper {
    display: flex;
    flex-direction: column;
}

.profile-add {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: clamp(8px, 1vw, 12px);
}

.profile-img {
    width: clamp(32px, 5vw, 40px);
    height: clamp(32px, 5vw, 40px);
    border-radius: 50%;
    object-fit: cover;
    background-color: #d0f6f9;
}

.add-btn {
    width: clamp(30px, 5vw, 38px);
    height: clamp(30px, 5vw, 38px);
    border-radius: 12px;
    border: none;
    background: #2f2fa2;
    color: white;
    font-size: clamp(18px, 2vw, 24px);
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.add-btn:hover {
    background: #262682;
}

.calendar-container {
    margin-top: 20px;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calendar-actions {
    display: flex;
    align-items: center;
    gap: 5px;
}

.calendar-days {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.day-column {
    text-align: center;
    padding: 10px;
    border-radius: 16px;
    flex: 1;
}

.day-label {
    font-weight: bold;
    margin-bottom: 5px;
}

.day-date {
    font-size: clamp(14px, 1.2vw, 16px);
    margin-bottom: 10px;
}

.time-slots {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.time-slot {
    padding: 4px 0;
    font-size: clamp(10px, 1vw, 12px);
    color: #333;
}

.selected-time {
    border-radius: 10px;
    background-color: #262682;
    color: white;
    font-weight: bold;
    opacity: 0.6;
}

.active-day .selected-time {
    opacity: 1;
}

.empty-slot {
    height: 2px;
    background: #ccc;
    margin: 6px 20%;
    border: none;
}

.active-day {
    background-color: rgba(75, 48, 243, 0.07);
}

.sunday,
.sunday .time-slot,
.sunday .day-label {
    color: #ccc;
}

.calendar-schedule-cards,
.schedule-items {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: row;
}

.upcoming-schedule {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.schedule-day {
    font-weight: 500;
    color: #7a7a7a;
    margin: 0px;
    font-family: 14px;
}

@media (max-width: 768px) {
    .calendar-days {
        gap: 5px;
    }
}